.main-title{
	font-size: 42px;
	text-align: center;
}

.form-wrapper{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--block-distance) 0;

	.login-form{
		width: 100%;

		.submit{
			margin-top: calc(var(--block-distance)/4);
		}
	}
}